@{
    ViewBag.Title = "關於";
}
<br />
<span class="label label-success" style="font-size:20px; height:30px;">&nbsp;&nbsp;@ViewBag.Title&nbsp;&nbsp;</span>
<h3>@ViewBag.Message</h3>

<p>Since 2018/06/20.</p>
