@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <!--<h1><span class="glyphicon glyphicon-grain" style="color:red"></span>MIS Assistant</h1> -->
    <h1>
        <img src="~/Content/Images/仁愛之家Logo.png" align="middle" />
        MIS Assistant
    </h1><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIS Assistant is a Web applications using ASP.NET MVC, HTML, CSS and JavaScript.</p>
    <br /><br />
    <p style="text-align:center">仁愛之家 <span class="glyphicon glyphicon-home" style="color:gray"></span> 資訊人員專用</p>
</div>

<div class="row" style="display:none">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>